asgiref
attrs
Automat
certifi
cffi
chardet
colorama
constantly
coverage
cryptography
cssselect
Django
django-admin-autocomplete-filter
django-filter
djangorestframework
happybase
hyperlink
idna
incremental
itemadapter
itemloaders
jmespath
logzero
lxml
parsel
ply
Protego
psycopg2-binary
pyasn1
pyasn1-modules
pycparser
PyDispatcher
PyHamcrest
PyMySQL
pyOpenSSL
pyquery
python-dotenv
pytz
queuelib
redis
requests
Scrapy
scrapy-djangoitem
scrapy-redis
scrapyd
scrapyd-client
service-identity
six
SQLAlchemy
sqlparse
thriftpy2
tld
Twisted
typing_extensions
urllib3
w3lib
zope.interface
